*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

span{
    color: var(--span-color);
}

p{
    color: var(--text-grey);
    font-family: var(--font-open);
}

:root{
    --back-color:#2C2B3D;
    --span-color:#00BFA6;
    --text-grey:#C2C2C2;
    --text-white:#FFFFFF;

    --font-mono:'JetBrains Mono', monospace;
    --font-open: 'Open Sans', sans-serif;

    font-size: 62.5%;
}

body{
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: var(--back-color);
    font-family: var(--font-mono);
    --webkit-font-smoothing: antialiased;
}
.container{
    max-width: 108.3rem;
    margin: 0 auto;
    padding-top: 7rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 6.4rem;
}

ul li a{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: var(--text-white);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10.1rem;
}

main img{
    width: 40rem;
}

.texts{
    text-align: center;
}

.texts h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1rem;
    color: var(--text-white);
    margin-bottom: 5.9rem;
}

.texts p{
    max-width: 60.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.texts p span{
    font-weight: 700;
}

footer{
    text-align: center;
    margin-top: 15.7rem;
}

footer p{
    font-family: var(--font-mono);
    color: var(--text-white);
    font-size: 1.4rem;
    font-weight: 500;
}

footer p a{
    color: var(--text-white);
    font-size: 1.4rem;
    font-weight: 500;
}

footer .line{
    height: 0;
    max-width: 56.8rem;
    border-top: 1px solid var(--span-color);
    margin: 0 auto 2.7rem;
}

#lock{
    position: fixed;
    bottom: 2rem;
    left: 2rem  ;
}



