*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

:root{
    --back-color:#2C2B3D;
    --span-color:#00BFA6;
    --text-grey:#C2C2C2;
    --text-white:#FFFFFF;

    font-size: 62.5%;
}

body{
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: var(--back-color);
}